{% extends "base.html" %}

{% block title %}
	Classification of Pneumonia
{% endblock title %}

{% block content %}

		    <h1 class="heading" style="text-align: center;">Welcome {{ user }}, upload image to get result of classification</h1><br><hr class="hr"><br><br>
			    <body> 
				<form method = "post" enctype="multipart/form-data"> 
                {% csrf_token %}    
                {{ form.as_p }}

				<br>
                <button type="submit"  class="btn btn-lg btn-outline-primary">Upload Image</button> 
				</form> 
				</body> 

{% endblock content %}
